name: Generate Snake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # daily

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Solen-s
          # These parameters below are deprecated/ignored in v3, move them to 'outputs'
          outputs: |
            dist/snake.svg?color_snake=#36BCF7&color_dots=#767676,#8dbdff,#64a1f4,#4b91f1,#3c7dd9
            dist/snake-dark.svg?palette=github-dark&color_snake=#36BCF7&color_dots=#696a6c,#0d4429,#006d32,#26a641,#00ff37

      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
